# Django Settings
SECRET_KEY=django-insecure-(va%94f(hdv+3gk+b2*%+*lckfo+ic=gz%ei+4_(ndunk^c1pl
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Database Configuration (Leave empty to use default SQLite)
# DATABASE_URL=postgresql://db_user:db_password@localhost:5432/medroster_db
